/* Element styling */
body {
    font-family: 'Mali', cursive;
    font-weight: 600;
}

/* Class styling */
.results {
    font-size: 5rem;
}

/* ID styling */
#clock {
    font-size: 6rem;
}

#bulb {
    font-size: 12rem;
}

#title {
    font-size: 3rem;
}
#answer {
    display: none;
}

#timer {
    font-size: 5rem;
    color: darkred;
}